<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Targets</key>
	<dict>
		<key>&lt;targetname&gt;</key>
		<dict>
			<key>Settings</key>
			<dict>
				<key>DefaultPortalGroup</key>
				<string>0</string>
				<key>DefaultConnection</key>
				<string></string>
				<key>MaxConnections</key>
				<integer>0</integer>
				<key>UseHeaderDigest</key>
				<false/>
				<key>UseDataDigest</key>
				<false/>
				<key>AuthMethod</key>
				<string></string>
				<key>AuthMethodInfo</key>
				<dict/>
			</dict>
			<key>Portals</key>
			<dict>
				<key>&lt;portalgrouptag&gt;</key>
				<array>
					<dict>
						<key>Address</key>
						<string></string>
						<key>Port</key>
						<string></string>
						<key>HostInterface</key>
						<string></string>
					</dict>
					<dict/>
					<dict/>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Initiator</key>
	<dict>
		<key>Name</key>
		<string></string>
		<key>Alias</key>
		<string></string>
	</dict>
	<key>Discovery</key>
	<dict>
		<key>&lt;targetname&gt;</key>
		<dict>
			<key>&lt;portalgrouptag&gt;</key>
			<array>
				<dict>
					<key>Address</key>
					<string></string>
					<key>Port</key>
					<string></string>
					<key>HostInterface</key>
					<string></string>
				</dict>
				<dict/>
				<dict/>
			</array>
		</dict>
	</dict>
</dict>
</plist>
