<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/iscsid.log</string>
	<key>ServiceIPC</key>
	<true/>
	<key>Sockets</key>
	<dict>
		<key>iscsid</key>
		<dict>
			<key>SockPathName</key>
			<string>/tmp/iscsid_local</string>
		</dict>
	</dict>
	<key>Program</key>
	<string>/tmp/iscsid</string>
	<key>Label</key>
	<string>com.NSinenian.iscsid</string>
</dict>
</plist>
