<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Targets</key>
	<dict>
		<key>iqn.test.com</key>
		<dict>
			<key>Configuration</key>
			<dict>
				<key>ErrorRecoveryLevel</key>
				<string>0</string>
				<key>New item</key>
				<string></string>
				<key>MaxConnections</key>
				<integer>0</integer>
			</dict>
			<key>Portals</key>
			<dict>
				<key>192.168.1.114</key>
				<dict>
					<key>Portal</key>
					<dict>
						<key>Address</key>
						<string></string>
						<key>Port</key>
						<string></string>
						<key>Host Interface</key>
						<string></string>
					</dict>
					<key>Configuration</key>
					<dict>
						<key>Header Digest</key>
						<string></string>
						<key>Data Digest</key>
						<string></string>
					</dict>
					<key>Authentication</key>
					<dict/>
				</dict>
				<key>192.168.1.115</key>
				<dict>
					<key>Portal</key>
					<dict>
						<key>Address</key>
						<string></string>
						<key>Port</key>
						<string></string>
						<key>Host Interface</key>
						<string></string>
					</dict>
					<key>Configuration</key>
					<dict>
						<key>Header Digest</key>
						<string></string>
						<key>Data Digest</key>
						<string></string>
					</dict>
					<key>Authentication</key>
					<dict/>
				</dict>
			</dict>
		</dict>
		<key>iqn.test2.com</key>
		<dict>
			<key>Configuration</key>
			<dict>
				<key>DefaultPortalGroup</key>
				<string>0</string>
				<key>MaxConnections</key>
				<integer>0</integer>
			</dict>
			<key>Portals</key>
			<dict>
				<key>192.168.1.115</key>
				<dict>
					<key>Portal</key>
					<dict>
						<key>Address</key>
						<string></string>
						<key>Port</key>
						<string></string>
						<key>Host Interface</key>
						<string></string>
					</dict>
					<key>Configuration</key>
					<dict>
						<key>Header Digest</key>
						<string></string>
						<key>Data Digest</key>
						<string></string>
					</dict>
					<key>Authentication</key>
					<dict/>
				</dict>
				<key>192.168.1.1</key>
				<dict>
					<key>Portal</key>
					<dict>
						<key>Address</key>
						<string></string>
						<key>Port</key>
						<string></string>
						<key>Host Interface</key>
						<string></string>
					</dict>
					<key>Configuration</key>
					<dict>
						<key>Header Digest</key>
						<string></string>
						<key>Data Digest</key>
						<string></string>
					</dict>
					<key>Authentication</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Initiator</key>
	<dict>
		<key>Name</key>
		<string>iqn.localhost.com</string>
		<key>Alias</key>
		<string>Initiator</string>
	</dict>
	<key>Discovery</key>
	<dict>
		<key>&lt;targetname&gt;</key>
		<dict>
			<key>&lt;portalgrouptag&gt;</key>
			<array>
				<dict>
					<key>Address</key>
					<string></string>
					<key>Port</key>
					<string></string>
					<key>HostInterface</key>
					<string></string>
				</dict>
				<dict/>
				<dict/>
			</array>
		</dict>
	</dict>
</dict>
</plist>
